/*.intro-body {
	background-image: url("./images/ig2i.jpg") !important;
	background-position: center !important;
	background-size: cover !important;
}*/

#imageeee {
	background: none;
	background-image: url("images/ig2i.jpg") !important;
	background-position: center !important;
	background-size: cover !important;
}

body {

	background-color: white  !important;
}

#contact-us{
	max-width: 1000px !important;
    margin: auto !important;

}